#main {
 
  .visible-xs-block {
    h1.page-header {
      letter-spacing: 7px;
    }
  }
  .hidden-xs {
    h1.page-header {
      letter-spacing: 60px;
      padding-left: 10%;
    }
  }
  h1.page-header {
    font-size: 50px;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
  }

  img {
    width: 100%;
  } 

  .section {
    padding: 10px 0px;
  }

}

.footer {
  padding: 50px 0px;
  background-color: whitesmoke;
  a {
    i {
      padding-right: 10px;
    }
  }
  .btn.social-link {
    font-size: 20px;
    width: 30px;
    padding: 4px;
    text-align: left;
  }

}
