---
title: Wire Bird
---

%div#main
  %h1.page-header Wire Bird

  %div.section
    %img{:src => "images/wire-bird-main.png"}
  %div.section
    %p.lead Harmony, thick synth, shimmering acoustic, driving bass, melodic electric guitar and thumping tribal percussion, all swimming in reverb, that’s us. 
    %p We are a four piece band from Melbourne that enjoy making music and sharing life together. We have enjoyed gathering momentum over the past year through various and numerous shows. Some highlights have been headlining a packed out festival tents with crowd surfing, big scale sing a longs and countless gumboots stomping along, and sold out headlines at The Workers Club and The Grace Darling Hotel where we’ve been able to connect with existing and new friends. We are so hyped to release our first single 'Mirrors', available NOW and our first studio EP due to hit radio in early 2015.
  %div.section
    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/53701086&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
